<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.cwb.com.party.Board.mapper.ReplyMapper">
	<resultMap id="rm4ReplyVO"
		type="www.cwb.com.party.Board.vo.ReplyVO">
		<id property="rno" column="rno" />
		<result property="bno" column="bno" />
		<result property="content" column="content" />
		<result property="replyer" column="replyer" />
		<result property="regdate" column="regdate" />
		<result property="updatedate" column="updatedate" />
	</resultMap>
	

	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from tbl_reply where bno = #{bno}
		]]>
	</select>
	<select id="getSingleReply" resultMap="rm4ReplyVO">
		<![CDATA[
			select * from tbl_reply where rno=#{rno}
		]]>
	</select>
	<select id="getOldestReply" resultType="int">
		<![CDATA[
			select min(rno) from tbl_reply
		]]>
	</select>

	<select id="getOldestBoardIdHavingReply" resultType="int">
		<![CDATA[
			select min(bno) from tbl_reply
		]]>
	</select>

	<select id="getPagingReplyofBoard" resultMap="rm4ReplyVO">
		<![CDATA[
			select * 
			  from (
			  	select rownum rn, r.*
			  	  from tbl_reply r
			  	 where rownum <= #{cri.pageNum} * #{cri.amount}
			  	 and bno = #{bno}
			  )
			 where rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	<insert id="insertReply">
		<!-- 생성된 identifier가 주어진 객체에 자동적으로 채워진다. -->
		<selectKey keyProperty="rno" resultType="int" order="BEFORE">
			select seq_reply.nextval FROM DUAL
		</selectKey>
  		insert into tbl_reply(rno, bno, content, replyer)
		  values(#{rno}, #{bno}, #{content,jdbcType=VARCHAR}, #{replyer,jdbcType=VARCHAR})
	</insert>
	<delete id="deleteReply">
		<![CDATA[
			delete from tbl_reply where rno=#{rno}
		]]>
	</delete>
	<update id="updateReply">
	    <selectKey keyProperty="updatedate" resultType="date" order="BEFORE">
			select sysdate FROM DUAL
		</selectKey>
	    <![CDATA[
			update tbl_reply
			set content = #{content},
				updatedate = #{updatedate}
			where rno=#{rno}
		]]>
	</update>
	<delete id="deleteReplyOfBoard">
			<![CDATA[
				delete from tbl_reply where bno=#{bno}
			]]>
	</delete>

</mapper>








